header{
    background-color: greenyellow;
    text-align: center;
    font-size: 60px;
}
nav{
    background-color: grey;
}
.menu{
    display: flex;
    flex-direction: row;
    
}
.menuItem{
    padding-right:10%;
    padding-left: 10%;
}
section{
    background-color: chocolate;
}
article{
    background-color: aquamarine;
}
footer{
    background-color: black;
}
aside{
    background-color: beige;
}

.container{
    display: flex;
    flex-direction: row;
}
.pie{
    color: aliceblue;
}